version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    versioning-strategy: "increase"
    groups:
      actions-toolkit:
        patterns:
          - "@actions/*"
      build-tooling:
        patterns:
          - "@vercel/ncc"
      other-deps:
        patterns:
          - "*"
